#about {
  min-height: 100vh;
  height: 100vh;
}

[class^="bento-div-"]{
  border: 12px solid white;;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.1),
              inset 0 1px 3px rgba(0, 0, 0, 0.06);
}

.bento-div-1, .bento-div-3 {
  background-size: cover;
  background-position: center;
}
