#banner {
  min-height: 100vh;
  height: 100vh;

  h1 {
    font-size: clamp(40px, 8vw, 80px);;
    font-weight: 600;
  }

  p {
    margin-bottom: 2.25rem;
  }

  a {
    // font-size: small;
    margin-top: 2em;
  }

  #banner-text {
    padding-top: 40px;
  }

  .img-container {
    top: 0;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      position: absolute;
      border-radius: 20px;
      margin: 8px;
      transition: 0.1s ease;
    }
  }
}

@media (max-width: 576px) {
  #banner {
    .img-container {
      position: static !important;
      height: fit-content !important;
      padding-top: 2rem;

      img {
        width: 50px;
        height: 50px;
        position: static !important;
        // top: 0 !important;
        // left: 0 !important;
        // right: 0 !important;
        // bottom: 0 !important;
        transform: none !important;
      }
    }
  }
}
