#projects {
  > div {
    // padding: 5em 0;
    height: 100vh;
  }
}

@media (max-width: 768px) {
  #projects {
    img:first-child {
      display: block !important;
    }

    img:last-child {
      display: none !important;
    }
  }
}
