<hr>
<section id="contact" class="d-flex flex-column justify-content-center">
  <h2>Let's talk.</h2>
  <p>Feel free to reach out! Whether you have feedback for this page or want to connect about opportunities, I’d love to hear from you.
  </p>
  <div class="d-flex">
    <a href="mailto:ayanofujita22@gmail.com" class="border border-dark border-500 py-2 px-4 me-4">Email</a>
    <a href="https://www.linkedin.com/in/ayanofujita" target="blank" class="border border-dark border-500 py-2 px-4 me-4">LinkedIn</a>
    <a href="https://www.github.com/ayanofujita" target="blank"class="border border-dark border-500 py-2 px-4">GitHub</a>
  </div>

  <div class="d-flex justify-content-between align-items-center" style="position: absolute; bottom: 1em; width: 100%;">
    <a href="https://github.com/ayanofujita/middleman-portfolio" target="blank">2024. Developed by Ayano Fujita.</a>
    <a id="scroll-to-top" href="#banner" class="border-500 bg-black text-white text-center">
      <i class="fa-solid fa-arrow-up"></i>
    </a>
  </div>
</section>
