<div id="navbar" class="d-flex justify-content-between">
  <div id="fix-left" class="d-flex justify-content-between border-500 align-items-center">
    <a href="#banner">aya.</a>
    <a href="https://www.github.com/ayanofujita" target="blank">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/ayanofujita" target="blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>

  <div id="fix-right" class="d-flex justify-content-between border-500 align-items-center">
    <a href="#projects">Projects</a>
    <a href="#contact" style="min-width: fit-content">Contact</a>
  </div>
</div>
