<section id="banner" class="d-flex align-items-center justify-content-center min-vh-100">
  <div class="blob-container">
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
  </div>
  <div class="inner-banner w-100 row align-items-center g-0 m-0">
    <div id="banner-image" class="col-md-4 p-2 p-md-4 order-md-2 order-1 mb-0">
      <img src="images/close_up_center.png" alt="Ayano Fujita's image" class="rounded-25 w-100">
    </div>
    <div id="banner-text" class="col-md-8 p-2 p-md-4 order-md-1 order-2 text-center text-md-start mt-n3 mt-md-0">
      <p class="mb-0">Hello there! I'm</p>
      <h1 class="gradient-text my-2">Ayano Fujita</h1>
      <p class="opacity-75 pb-2 mb-2">A <strong>Fullstack Web Developer</strong> and part-time Teaching Assistant at <strong>Le Wagon Tokyo</strong>. Always learning and looking for opportunities to expand my skills and make an impact through code.
      </p>
      <a href="mailto:ayanofujita22@gmail.com" class="border bg-black text-white rounded-pill py-2 px-3">Let's Talk -></a>
    </div>
  </div>
</section>
