<section id="skills">
  <div class="inner-skills w-100 h-100 d-flex flex-column justify-content-center text-center">
    <h3 class="mb-5">Skills</h3>
    <div class="row w-100 justify-content-between" style="font-size: rem;">
      <div class="col skill-card rounded-25 p-4 m-3 text-start">
        <%= image_tag 'skills/frontend.png', alt: "frontend icon", style: "width: 60px; height: 60px;", class: "ms-4 my-4 opacity-50" %>
        <h3 class="skill-card-title">Frontend Development</h3>
        <p class="opacity-75">I value simplicity, cleanliness, and functionality in design <em>(and code)</em>. While I don’t identify as a designer, I deeply appreciate smart design and find satisfaction in building visual elements.</p>
      </div>
      <div class="col skill-card rounded-25 p-4 m-3 text-start">
        <%= image_tag 'skills/backend.png', alt: "backend icon", style: "width: 60px; height: 60px;", class: "ms-4 my-4 opacity-50" %>
        <h3 class="skill-card-title">Backend Development</h3>
        <p class="opacity-75">Rooted in my love for logic and problem-solving, I strive to create efficient solutions and functionalities that deliver real value to users.</p>
      </div>
      <div class="col skill-card rounded-25 p-4 m-3 text-start">
        <%= image_tag 'skills/hosting.png', alt: "cloud hosting icon", style: "width: 60px; height: 60px;", class: "ms-4 my-4 opacity-50" %>
        <h3 class="skill-card-title">Amazon Web Services</h3>
        <p class="opacity-75">While my focus is on development rather than architecture, I have solid theoretical foundation in AWS services and how to leverage AWS to enhance application.</p>
      </div>
    </div>
  </div>
</section>
