<div class="mx-auto main-container" style="width: 80%;">
  <%= partial 'sections/banner' %>
  <%= partial 'sections/skills' %>
  <%= partial 'sections/projects' %>
  <% partial 'sections/about' %>
  <%= partial 'sections/contact' %>
</div>
